{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="classic" data-mobile-nav-bg-color="#383632"> 
	
	{{ parent() }}

	<!-- start header -->
	{% include 'partials/_header.html.twig' %}
	<!-- end header -->

	<!-- start banner -->
	<section id="main-banner-section" class="p-0 full-screen md-h-700px bg-dark-gray sm-h-600px ipad-top-space-margin cover-background position-relative" data-parallax-background-ratio="0.8"> <div class="opacity-light bg-dark-gray"></div>
		<div class="container h-100">
			<div class="row align-items-center h-100 justify-content-center">
				<div class="col-12 position-relative text-center">
					<div id="main-banner-circle" class="background-repeat border-radius-100 w-700px h-700px lg-w-550px lg-h-550px sm-w-450px sm-h-450px xs-w-320px xs-h-320px mx-auto position-relative d-flex justify-content-center align-items-center border-simple-white" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 800, "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
						<div>
							<p class="text-black alt-font fs-20 xs-fs-15 xs-lh-20 ls-1px text-uppercase mb-25px sm-mb-15px mt-10px">Voir | Boire | Manger</p>

							<div class="alt-font fs-100 lh-100 xs-fs-80 xs-lh-70 mb-30px xs-mb-15px fancy-text-style-4 d-flex flex-column">
								<span class=" text-white ls-minus-2px ">Le p<span class="main-banner-letter">l</span>at<span class="main-banner-letter">e</span>au</span>
								<span data-fancy-text='{ "effect": "rotate", "string": ["restaurant", "bar", "concerts", "privatisation"] }' class="text-outline text-outline text-outline-width-2px sm-text-outline-width-1px text-outline-color-white text-outline-base-color-background"></span>
							</div>
							<a class="btn btn-extra-large btn-switch-text btn-red btn-round-edge btn-box-shadow mb-10px" data-bs-toggle="modal" data-bs-target="#menuModal">
								<span>
									<span class="btn-double-text" data-text="Menu du jour !">Menu du jour !</span>
									<span>
										<i class="feather icon-feather-arrow-right"></i>
									</span>
								</span>
							</a>
							<div id="main-banner-time-infos" class="icon-with-text-style-08 mb-10px mt-3 d-flex justify-content-center">
								<div class="feature-box feature-box-left-icon-middle overflow-hidden">
									<div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-jade rounded-circle me-15px">
										<i class="fa-solid fa-check fs-14 text-green"></i>
									</div>
									<div class="feature-box-content">
										<span class="text-white">Ouvert</span>
									</div>
									<div class="feature-box-content">
										<span class="text-white">12h-14h</span>
										<span class="text-white">18h-22h</span>
									</div>
								</div>
							</div>
							<img src="{{ customAsset('app/header.jpg')}}" alt="" width="200" height="200" class="position-absolute right-minus-50px bottom-50px lg-bottom-10px lg-w-180px sm-w-150px animation-float d-none d-sm-inline-block border-radius-100">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end banner -->

	<section class="bg-solitude-blue py-4">
		<div class="container"> 
			<div class="row align-items-center justify-content-center"> 
				<div class="col-12 col-md-9 offset-xl-1" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 150, "staggervalue": 150, "easing": "easeOutQuad" }'>
					{# <span class="fs-18 fw-600 text-dark-gray mb-20px d-flex align-items-center">En ce moment !</span>  #}
					<div class="swiper slider-one-slide text-slider-style-01" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".slider-one-slide-pagination", "clickable": true }, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="row d-flex g-4">
									<div class="col-12 col-md-2">
										<img style="width:8rem!important;height:8rem;" src="{{ customAsset('app/pages/home/actu-3.jpg')}}" alt="">
									</div>
									<div class="col-12 col-md-10">
										<h2 class="fw-700 text-dark-gray ls-minus-2px fs-23">After Work du jeudi</h2>
										<p class="w-80">Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore magna ut enim veniam !</p>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="row d-flex g-4">
									<div class="col-12 col-md-2">
										<img style="width:8rem!important;height:8rem;" src="{{ customAsset('app/main_logo.jpg')}}" alt="">
									</div>
									<div class="col-12 col-md-10">
										<h2 class="fw-700 text-dark-gray ls-minus-2px fs-23">Expo. vive le PSG</h2>
										<p class="w-80">Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore magna ut enim veniam !</p>
									</div>
								</div>
							</div>

						</div>
						<div class="d-flex">
							<!-- start slider navigation -->
							<div class="slider-one-slide-prev-1 icon-small swiper-button-prev slider-navigation-style-04 bg-white text-dark-gray"><i class="fa-solid fa-arrow-left"></i></div>
							<div class="slider-one-slide-next-1 icon-small swiper-button-next slider-navigation-style-04 bg-white text-dark-gray"><i class="fa-solid fa-arrow-right"></i></div>
							<!-- end slider navigation -->
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
        <!-- end section --> 

	<!-- start section -->
	<section id="about-section" class="position-relative overflow-hidden z-index-0">
		{# <div class="position-absolute left-0px w-100 text-center top-minus-90px lg-top-minus-60px xs-top-minus-20px opacity-2 ls-minus-10px lg-ls-minus-1px fs-350 lg-fs-250 xs-fs-200 text-nowrap alt-font text-uppercase">experience</div> #}
		<div class="position-absolute left-minus-50px mt-15 d-none d-xl-inline-block" data-parallax-liquid="true" data-parallax-transition="2" data-parallax-position="top">
			<img src="{{ customAsset('app/pages/home/demo-restaurant-home-02.jpg')}}" alt="" data-bottom-top="transform: rotate(-30deg)" data-top-bottom="transform:rotate(10deg)">
		</div>
		<div class="position-absolute z-index-minus-1 right-minus-50px xxl-right-minus-100px xl-right-minus-50px xl-w-220px d-none d-xl-inline-block" data-parallax-liquid="true" data-parallax-transition="2" data-parallax-position="bottom">
			<img src="{{ customAsset('app/pages/home/demo-restaurant-home-03.jpg')}}" alt="" data-bottom-top="transform: rotate(-30deg)" data-top-bottom="transform:rotate(10deg)">
		</div>
		<div class="container">
			<div class="row align-items-center mb-4 lg-mb-6 lg-mt-5">
				<div class="col-xl-7 col-lg-6 text-center position-relative md-mb-50px xs-mb-30px" data-anime='{ "rotateZ": [-15, 0], "opacity": [0,1], "duration": 1500, "delay": 300, "staggervalue": 150, "easing": "easeOutQuad" }'>
					<img src="{{ customAsset('app/carbonade.jpeg')}}" alt="">
				</div>
				<div class="col-xl-5 col-lg-6" data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="fs-15 fw-600 text-red text-uppercase mb-25px d-block">
						<span class="w-70px h-2px bg-red d-inline-block align-middle me-15px"></span>Depuis 2012</span>
					<h1 class="alt-font text-dark-gray mb-15px">Du fait maison & local.</h1>
					<p class="w-90">Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore magna minim veniam nostrud exercitation.</p>
					<div class="d-inline-block mt-10px xs-mt-0">
						<a onclick="window.location.href=window.location.href" href="." class="btn btn-dark-gray btn-large btn-switch-text btn-round-edge btn-box-shadow me-30px xs-me-15px xs-mb-10px">
							<span>
								<span class="btn-double-text" data-text="Lorem Ipsum">Lorem Ipsum</span>
							</span>
						</a>
						<div class="alt-font fs-24 d-inline-block align-middle lh-0 text-dark-gray xs-mb-10px">
							<i class="feather icon-feather-phone-outgoing me-10px text-base-color"></i>
							<a href="tel:03-20-25-56-56">03 20 25 56 56</a>
						</div>
					</div>
				</div>
			</div>
			<div
				class="row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
				<!-- start features box item -->
				<div class="col icon-with-text-style-08 md-mb-50px sm-mb-30px">
					<div class="feature-box feature-box-left-icon-middle">
						<div class="feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle bg-white box-shadow-medium-bottom me-25px">
							<i class="bi bi-box-seam d-inline-block icon-medium text-dark-gray"></i>
						</div>
						<div class="feature-box-content last-paragraph-no-margin">
							<span class="d-inline-block alt-font fs-26 text-dark-gray">Lorem Ipsum</span>
							<p class="lh-22">Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-08 md-mb-50px sm-mb-30px">
					<div class="feature-box feature-box-left-icon-middle">
						<div class="feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle bg-white box-shadow-medium-bottom me-25px">
							<i class="bi bi-award d-inline-block icon-medium text-dark-gray"></i>
						</div>
						<div class="feature-box-content last-paragraph-no-margin">
							<span class="d-inline-block alt-font fs-26 text-dark-gray">Magnam dolorum!</span>
							<p class="lh-22">Rerum dicta quis commodi !</p>
						</div>
					</div>
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-08">
					<div class="feature-box feature-box-left-icon-middle">
						<div class="feature-box-icon feature-box-icon-rounded w-100px h-100px rounded-circle bg-white box-shadow-medium-bottom me-25px">
							<i class="bi bi-bag-check d-inline-block icon-medium text-dark-gray"></i>
						</div>
						<div class="feature-box-content last-paragraph-no-margin">
							<span class="d-inline-block alt-font fs-26 text-dark-gray">Atque illo quam magnam!</span>
							<p class="lh-22">At fuga pariatur id</p>
						</div>
					</div>
				</div>
				<!-- end features box item -->
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- start section -->
	<section id="speciality-section">
		<div class="container">
			<div class="row justify-content-center mb-1">
				<div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block">
						<span class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Le goût avant tout<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span>
					</span>
					<h2 class="alt-font text-dark-gray">Nos incontournables</h2>
				</div>
			</div>
			<div class="row mb-6 xs-mb-8">
				<div class="col tab-style-02 fs-600">
					<ul class="nav nav-tabs fs-18 fw-500 justify-content-center text-center mb-4 sm-mb-0" data-anime='{ "el": "childs", "rotateX": [30, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
						<li class="nav-item">
							<a class="nav-link active" data-bs-toggle="tab" href="#tab_first1">
								<i class="line-icon-Chopsticks d-block icon-large mb-10px"></i>Entrée</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab_first2">
								<i class="line-icon-Bike-Helmet d-block icon-large mb-10px"></i>Spécialités</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab_first3">
								<i class="line-icon-Doughnut d-block icon-large mb-10px"></i>Végétarien</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab_first4">
								<i class="line-icon-Cupcake d-block icon-large mb-10px"></i>Dessert</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#tab_first5">
								<i class="line-icon-Beer d-block icon-large mb-10px"></i>Boisson</a>
						</li>
					</ul>
					<div
						class="tab-content">
						<!-- start tab content -->
						<div class="tab-pane fade in active show" id="tab_first1">
							<div class="row justify-content-center">
								<div class="col-lg-6 sm-mb-20px">
									<ul class="pricing-table-style-12 pe-15px md-pe-0" data-anime='{ "el": "childs", "rotateX": [-40, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
										<li class="last-paragraph-no-margin">
											<img src="{{ customAsset('app/carbonade.jpeg')}}" width="105" height="105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="{{ customAsset('app/carbonade.jpeg')}}" width="105" height="105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="{{ customAsset('app/carbonade.jpeg')}}" width="105" height="105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$08.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="pricing-table-style-12 ps-15px md-ps-0" data-anime='{ "el": "childs", "rotateX": [-40, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
										<li class="last-paragraph-no-margin">
											<img src="{{ customAsset('app/carbonade.jpeg')}}" width="105" height="105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="{{ customAsset('app/carbonade.jpeg')}}" width="105" height="105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$11.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="{{ customAsset('app/carbonade.jpeg')}}" width="105" height="105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- end tab content -->
						<!-- start tab content -->
						<div class="tab-pane fade in" id="tab_first2">
							<div class="row justify-content-center">
								<div class="col-lg-6 sm-mb-20px">
									<ul class="pricing-table-style-12 pe-15px md-pe-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$08.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="pricing-table-style-12 ps-15px md-ps-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$11.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- end tab content -->
						<!-- start tab content -->
						<div class="tab-pane fade in" id="tab_first3">
							<div class="row justify-content-center">
								<div class="col-lg-6 sm-mb-20px">
									<ul class="pricing-table-style-12 pe-15px md-pe-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$08.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="pricing-table-style-12 ps-15px md-ps-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$11.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- end tab content -->
						<!-- start tab content -->
						<div class="tab-pane fade in" id="tab_first4">
							<div class="row justify-content-center">
								<div class="col-lg-6 sm-mb-20px">
									<ul class="pricing-table-style-12 pe-15px md-pe-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$08.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="pricing-table-style-12 ps-15px md-ps-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$11.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- end tab content -->
						<!-- start tab content -->
						<div class="tab-pane fade in" id="tab_first5">
							<div class="row justify-content-center">
								<div class="col-lg-6 sm-mb-20px">
									<ul class="pricing-table-style-12 pe-15px md-pe-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$08.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="pricing-table-style-12 ps-15px md-ps-0">
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Boiled organic egg</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$12.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Chicken breast burger</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$11.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
										<li class="last-paragraph-no-margin">
											<img src="https://via.placeholder.com/105x105" class="rounded-circle" alt="">
											<div class="ms-30px xs-ms-0 flex-grow-1">
												<div class="d-flex align-items-center w-100 fs-18 mb-5px">
													<span class="fw-600 text-dark-gray">Medium spicy chips</span>
													<div class="divider-style-03 divider-style-03-02 border-color-extra-medium-gray flex-grow-1 ms-20px me-20px"></div>
													<div class="ms-auto fw-600 text-dark-gray">$10.00</div>
												</div>
												<p>Lorem ipsum has been the industry.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- end tab content -->
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center" data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
				<div class="col-12 text-center last-paragraph-no-margin">
					<div class="d-inline-block align-middle bg-red fw-500 text-white border-radius-30px ps-20px pe-20px fs-14 me-10px sm-m-10px">Masterchef</div>
					<div class="d-inline-block align-middle text-dark-gray fs-18 fw-500">Unique et délicieux
						<span class="text-decoration-line-bottom-medium fw-600">Masterchefs.</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- start section -->
	<section id="team-section" class="bg-very-light-gray position-relative extra-big-section">
		<div class="container-fluid overlap-section">
			<div class="row position-relative mb-4" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
				<div class="col swiper swiper-width-auto text-center" data-slider-options='{ "slidesPerView": "auto", "spaceBetween":50, "speed": 10000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
					<div
						class="swiper-wrapper marquee-slide">
						<!-- start slider item -->
						<div class="swiper-slide">
							<div class="fs-60 ls-minus-2px alt-font text-outline text-outline-color-base-color">Restaurant</div>
						</div>
						<!-- end slider item -->
						<!-- start slider item -->
						<div class="swiper-slide">
							<div class="fs-60 ls-minus-2px alt-font text-dark-gray">Bar</div>
						</div>
						<!-- end slider item -->
						<!-- start slider item -->
						<div class="swiper-slide">
							<div class="fs-60 ls-minus-2px alt-font text-outline text-outline-color-base-color">Privatisation</div>
						</div>
						<!-- end slider item -->

						{% for i in 0..10 %}

							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="fs-60 ls-minus-2px alt-font text-dark-gray">Concerts</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="fs-60 ls-minus-2px alt-font text-outline text-outline-color-base-color">Restaurant</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="fs-60 ls-minus-2px alt-font text-dark-gray">Bar</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="fs-60 ls-minus-2px alt-font text-outline text-outline-color-base-color">Privatisation</div>
							</div>
							<!-- end slider item -->

						{% endfor %}

					</div>
				</div>
			</div>
		</div>
		<div class="position-absolute left-150px xxl-left-50px mt-7 d-none d-xxl-inline-block" data-parallax-liquid="true" data-parallax-transition="1" data-parallax-position="top">
			<img src="{{ customAsset('app/demo-restaurant-home-07.jpg') }}" alt="">
		</div>
		<div class="position-absolute right-150px xxl-right-50px d-none d-xxl-inline-block" data-parallax-liquid="true" data-parallax-transition="1" data-parallax-position="bottom">
			<img src="{{ customAsset('app/demo-restaurant-home-08.jpg')}}" alt="">
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-6 col-lg-8 col-md-10" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
					<div class="swiper slider-custom-image swiper-pagination-bottom testimonials-style-03" data-slider-options='{ "loop": true, "pagination": { "el": ".slider-custom-image-pagination", "type": "bullets", "clickable": true }, "keyboard": { "enabled": true, "onlyInViewport": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav", "effect": "fade" } }' data-thumbs='["https://craftohtml.themezaa.com/images/avtar-34.jpg","https://craftohtml.themezaa.com/images/avtar-33.jpg"]'>
						<div
							class="swiper-wrapper">
							<!-- start testimonial item -->
							<div class="swiper-slide" data-bullet-thumb="background-image: url(https://craftohtml.themezaa.com/images/avtar-34.jpg)">
								<div class="d-flex flex-column">
									<div class="mb-28 align-self-center text-center w-100">
										<img src="images/demo-restaurant-home-quotes-icon.jpg" class="mb-30px rounded-circle" alt="">
										<h4 class="alt-font lh-42 text-dark-gray mb-10px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, rerum saepe itaque neque distinctio</h4>
										<span class="fs-20 fw-500 text-base-color d-block">Madzel Lili</span>
									</div>
								</div>
							</div>
							<!-- end testimonial item -->
							<!-- start testimonial item -->
							<div class="swiper-slide" data-bullet-thumb="background-image: url(https://craftohtml.themezaa.com/images/avtar-33.jpg)">
								<div class="d-flex flex-column">
									<div class="mb-28 align-self-center text-center w-100">
										<img src="images/demo-restaurant-home-quotes-icon.jpg" class="mb-30px rounded-circle" alt="">
										<h4 class="alt-font lh-42 text-dark-gray mb-10px">Reiciendis recusandae labore temporibus excepturi vel sit error suscipit quibusdam corporis sunt? Deleniti, sunt! Temporibus, iste!</h4>
										<span class="fs-20 fw-500 text-base-color d-block">Maître Danyzo</span>
									</div>
								</div>
							</div>
							<!-- end testimonial item -->
						</div>
						<!-- start slider pagination -->
						<div class="slider-custom-image-pagination swiper-pagination text-center pb-20px xs-pb-0px md-bottom-0px"></div>
						<!-- end slider pagination -->

					<!-- start slider navigation -->
						{# <div class="swiper-button-next-nav swiper-button-next mb-5px"><i class="line-icon-Arrow-OutRight icon-large text-light-gray"></i></div>
																																																												<div class="swiper-button-previous-nav swiper-button-prev mb-5px"><i class="line-icon-Arrow-OutLeft icon-large text-light-gray"></i></div> #}
						<!-- end slider pagination -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- start section -->
	<section id="actu-section">
		<div class="container">

			<div class="row justify-content-center mb-4">

				<div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block">
						<span class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Suivez-nous<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span>
					</span>
					<h2 class="alt-font text-dark-gray mb-0">Notre actualité</h2>
				</div>

				<div class="col-auto text-center last-paragraph-no-margin bg-white pt-20px pb-20px ps-6 pe-6 border-radius-100px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>

					<div class="text-center text-white fs-16 lh-36 border-radius-30px d-inline-block ps-20px pe-20px align-middle me-10px" style="background-color:#3B5998;">
						<a class="facebook" href="https://www.facebook.com/restaurantleplateau/">
							<i class="fa-brands fa-facebook-f" style="color:white!important;"></i>
						</a>
					</div>

					<a href="https://www.facebook.com/restaurantleplateau/" class="d-inline-block fs-18 text-dark-gray align-middle fw-500">
						<span class="text-decoration-line-bottom-medium fw-600">Suivez-nous sur notre Facebook</span>
						Lorem Ipsum actua est.
					</a>

				</div>

			</div>

			<div class="row blog-metro">
				<div class="col-12">
					<ul class="blog-metro blog-wrapper grid-loading grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large" data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
						<li class="grid-sizer"></li>
						<!-- start blog item -->
						<li class="grid-item">
							<figure class="position-relative mb-0 overflow-hidden border-radius-6px">
								<div class="blog-image bg-dark-slate-blue">
									<a href="demo-restaurant-blog-single-creative.html"><img class="img-actu-slider" src="{{ customAsset('app/pages/home/actu-1.jpg')}}" alt=""/></a>
									<div class="blog-overlay"></div>
								</div>
								<figcaption class="d-flex flex-column justify-content-end h-100 p-50px lg-p-35px">
									<div class="blog-categories mb-auto">
										<a href="#" class="categories-btn bg-white text-dark-gray text-uppercase fw-600 ms-0 mb-auto align-self-start">Concert</a>
									</div>
									<a href="demo-restaurant-blog-single-creative.html" class="text-white card-title fs-28 lh-32 alt-font w-60 xl-w-70 lg-w-80 md-w-70">Level,
																													Jullian Angel et théatre d'impro en Avril !</a>
								</figcaption>
							</figure>
						</li>
						<!-- end blog item -->
						<!-- start blog item -->
						<li class="grid-item">
							<figure class="position-relative mb-0 overflow-hidden border-radius-6px">
								<div class="blog-image bg-dark-slate-blue">
									<a href="demo-restaurant-blog-single-creative.html"><img class="img-actu-slider" src="{{ customAsset('app/pages/home/actu-2.png')}}" alt=""/></a>
									<div class="blog-overlay"></div>
								</div>
								<figcaption class="d-flex flex-column justify-content-end h-100 p-50px lg-p-35px">
									<div class="blog-categories mb-auto">
										<a href="#" class="categories-btn bg-white text-dark-gray text-uppercase fw-600 ms-0 mb-auto align-self-start">Atelier</a>
									</div>
									<a href="demo-restaurant-blog-single-creative.html" class="text-white card-title fs-28 lh-32 alt-font w-60 xl-w-70 lg-w-80 md-w-70">Atelier
																													dessert avec la chef Lili en Mai !</a>
								</figcaption>
							</figure>
						</li>
						<!-- end blog item -->
						<!-- start blog item -->
						<li class="grid-item">
							<figure class="position-relative mb-0 overflow-hidden border-radius-6px">
								<div class="blog-image bg-dark-slate-blue">
									<a href="demo-restaurant-blog-single-creative.html"><img class="img-actu-slider" src="{{ customAsset('app/pages/home/actu-3.jpg')}}" alt=""/></a>
									<div class="blog-overlay"></div>
								</div>
								<figcaption class="d-flex flex-column justify-content-end h-100 p-50px lg-p-35px">
									<div class="blog-categories mb-auto">
										<a href="#" class="categories-btn bg-white text-dark-gray text-uppercase fw-600 ms-0 mb-auto align-self-start">Bar</a>
									</div>
									<a href="demo-restaurant-blog-single-creative.html" class="text-white card-title fs-28 lh-32 alt-font w-60 xl-w-70 lg-w-80 md-w-70">Tous
																													les jeudi en Mai !</a>
								</figcaption>
							</figure>
						</li>
						<!-- end blog item -->
					</ul>
				</div>
			</div>

			<div class="row blog-metro">
				<div class="col-12">
					<ul class="blog-metro blog-wrapper grid-loading grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large" data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
						<li class="grid-sizer"></li>
						<!-- start blog item -->
						<li class="grid-item">
							<figure class="position-relative mb-0 overflow-hidden border-radius-6px">
								<div class="blog-image bg-dark-slate-blue">
									<a href="demo-restaurant-blog-single-creative.html"><img class="img-actu-slider" src="{{ customAsset('app/pages/home/actu-3.jpg')}}" alt=""/></a>
									<div class="blog-overlay"></div>
								</div>
								<figcaption class="d-flex flex-column justify-content-end h-100 p-50px lg-p-35px">
									<div class="blog-categories mb-auto">
										<a href="#" class="categories-btn bg-white text-dark-gray text-uppercase fw-600 ms-0 mb-auto align-self-start">Bar</a>
									</div>
									<a href="demo-restaurant-blog-single-creative.html" class="text-white card-title fs-28 lh-32 alt-font w-60 xl-w-70 lg-w-80 md-w-70">Tous
																													les jeudi en Mai !</a>
								</figcaption>
							</figure>
						</li>
						<!-- end blog item -->
						<!-- start blog item -->
						<li class="grid-item">
							<figure class="position-relative mb-0 overflow-hidden border-radius-6px">
								<div class="blog-image bg-dark-slate-blue">
									<a href="demo-restaurant-blog-single-creative.html"><img class="img-actu-slider" src="{{ customAsset('app/pages/home/actu-1.jpg')}}" alt=""/></a>
									<div class="blog-overlay"></div>
								</div>
								<figcaption class="d-flex flex-column justify-content-end h-100 p-50px lg-p-35px">
									<div class="blog-categories mb-auto">
										<a href="#" class="categories-btn bg-white text-dark-gray text-uppercase fw-600 ms-0 mb-auto align-self-start">Concert</a>
									</div>
									<a href="demo-restaurant-blog-single-creative.html" class="text-white card-title fs-28 lh-32 alt-font w-60 xl-w-70 lg-w-80 md-w-70">Level,
																													Jullian Angel et théatre d'impro en Avril !</a>
								</figcaption>
							</figure>
						</li>
						<!-- end blog item -->
						<!-- start blog item -->
						<li class="grid-item">
							<figure class="position-relative mb-0 overflow-hidden border-radius-6px">
								<div class="blog-image bg-dark-slate-blue">
									<a href="demo-restaurant-blog-single-creative.html"><img class="img-actu-slider" src="{{ customAsset('app/pages/home/actu-2.png')}}" alt=""/></a>
									<div class="blog-overlay"></div>
								</div>
								<figcaption class="d-flex flex-column justify-content-end h-100 p-50px lg-p-35px">
									<div class="blog-categories mb-auto">
										<a href="#" class="categories-btn bg-white text-dark-gray text-uppercase fw-600 ms-0 mb-auto align-self-start">Atelier</a>
									</div>
									<a href="demo-restaurant-blog-single-creative.html" class="text-white card-title fs-28 lh-32 alt-font w-60 xl-w-70 lg-w-80 md-w-70">Atelier
																													dessert avec la chef Lili en Mai !</a>
								</figcaption>
							</figure>
						</li>
						<!-- end blog item -->
					</ul>
				</div>
			</div>

		</div>
	</section>
	<!-- end section -->

	<!-- start section -->
	<section id="event-section" class="overflow-hidden contain-background background-position-center-top" style="background-size:contain!important;background-image: url('https://craftohtml.themezaa.com/images/demo-restaurant-about-title-bg.jpg')">

		<div class="container">

			<div class="row justify-content-center mb-2">
				<div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block">
						<span class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Prochainement<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span>
					</span>
					<h2 class="alt-font fw-400 text-dark-gray">Concerts / Spectacles</h2>
					<a href="#" class="btn btn-large btn-rounded with-rounded btn-dark-gray d-table d-lg-inline-block lg-mb-15px md-mx-auto">Venir se représenter au Plateau<span class="bg-base-color text-white">
							<i class="fa-solid fa-arrow-right"></i>
						</span>
					</a>
				</div>
			</div>

			<div class="row justify-content-center m-0 p-2" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>

				<!-- start features box item -->
				{# <div class="col-xl-3 p-0">
																<div class="ps-10 pe-10 pt-15 pb-15 xxl-ps-15 xxl-pe-15 lg-p-7 sm-p-40px overflow-hidden h-100 text-center text-xl-start border-top border-end border-color-transparent-white-light">
																	<h2 class="alt-font fw-500 text-white ls-minus-2px">
																		<span class="w-20px h-4px d-inline-block bg-base-color me-10px"></span>Event schedule</h2>
																	<p class="mb-35px lg-w-50 md-w-70 sm-w-100 mx-auto mx-xl-auto">Lorem ipsum dolor consectetur eiusmod tempor incididunt labore exercitation tempor.</p>
																	<a href="demo-conference-schedule.html" class="btn btn-large btn-dark-gray btn-hover-animation btn-round-edge btn-box-shadow align-self-center">
																		<span>
																			<span class="btn-text">Download schedule</span>
																			<span class="btn-icon">
																				<i class="fa-solid fa-arrow-right"></i>
																			</span>
																		</span>
																	</a>
																</div>
															</div> #}
				<!-- end features box item -->

				<!-- start features box item -->
					<div class="col-xl-3 col-md-4 bg-medium-slate-blue event-style-01 p-0 m-1"> <div class="bg-midnight-blue hover-box will-change-inherit dark-hover d-flex justify-content-start feature-box ps-10 pe-10 pt-8 pb-8 md-p-8 md-pb-25 sm-pb-50px overflow-hidden h-100 text-center text-md-start border-top border-end border-color-transparent-white-light">
						<div class="feature-box-content w-100 lg-mb-5 last-paragraph-no-margin">
							<div class="text-white fs-26 alt-font fw-500 mb-20px">25 Mai 2024</div>
							<p class="text-white fs-20 alt-font">Concert - Metallica<br>21h / 22h
							</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>
							<p class="text-light-opacity">En exclusivité au Plateau !! Pensez à venir dès 20h pour avoir une place !!</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>
						</div>
						<div class="feature-box-overlay bg-base-color"></div>
					</div>
				</div>
				<!-- end features box item -->

				<!-- start features box item -->
				<div class="col-xl-3 col-md-4 bg-medium-slate-blue event-style-01 p-0 m-1">
					<div class="bg-midnight-blue hover-box will-change-inherit dark-hover d-flex justify-content-start feature-box ps-10 pe-10 pt-8 pb-8 md-p-8 md-pb-25 sm-pb-50px overflow-hidden h-100 text-center text-md-start border-top border-end border-color-transparent-white-light">
						<div class="feature-box-content w-100 lg-mb-5 last-paragraph-no-margin">
							<div class="text-white fs-28 alt-font fw-500 mb-20px">03 Juin 2024</div>

							<p class="text-white fs-20 alt-font">Concert - Level<br>21h / 22h</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>

							<p class="text-white fs-20 alt-font">Concert - Julien Angel<br>22h / 23h</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>

							<p class="text-white fs-20 alt-font">Théatre - Troupe de Toto<br>23h / 24h</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>

							<p class="text-light-opacity">En exclusivité au Plateau !! Pensez à venir dès 20h pour avoir une place !!</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>

						</div>
						<div class="feature-box-overlay bg-base-color"></div>
					</div>
				</div>
				<!-- end features box item -->

				<!-- start features box item -->
				<div class="col-xl-3 col-md-4 bg-medium-slate-blue event-style-01 p-0 m-1">
					<div class="bg-midnight-blue hover-box will-change-inherit dark-hover d-flex justify-content-start feature-box ps-10 pe-10 pt-8 pb-8 md-p-8 md-pb-25 sm-pb-50px overflow-hidden h-100 text-center text-md-start border-top border-end border-color-transparent-white-light">
						<div class="feature-box-content w-100 lg-mb-5 last-paragraph-no-margin">
							<div class="text-white fs-26 alt-font fw-500 mb-20px">25 Mai 2024</div>
							<p class="text-white fs-20 alt-font">Concert - Metallica<br>21h / 22h
							</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>
							<p class="text-light-opacity">En exclusivité au Plateau !! Pensez à venir dès 20h pour avoir une place !!</p>
							<div class="divider-style-03 mb-20px divider-style-03-01 border-color-transparent-white-light"></div>
						</div>
						<div class="feature-box-overlay bg-base-color"></div>
					</div>
				</div>
				<!-- end features box item -->


			</div>
		</div>

	</section>
	<!-- end section -->

	<!-- start section -->
	<section id="partenary-section" class="overflow-hidden">
		<div class="container">
			<div class="row justify-content-center mb-2">
				<div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
					<span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block">
						<span class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Merci à eux<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span>
					</span>
					<h2 class="alt-font fw-400 text-dark-gray">Nos partenaires</h2>
				</div>
			</div>
			<div
				class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center text-center icon-with-style-2 g-0 border-top border-start border-color-transparent-dark-very-light" data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'>
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all">
					<div class="feature-box box-shadow-triple-large-hover h-100 border-bottom border-end border-color-transparent-dark-very-light sm-border-bottom p-15 lg-ps-10 lg-pe-10">
						<div class="feature-box-icon mb-20px">
							<img src="https://craftohtml.themezaa.com/images/demo-restaurant-about-award-01.jpg" alt="">
						</div>
						<div class="feature-box-content">
							<span class="d-block text-dark-gray lh-24 w-80 mx-auto">Lorem ipsum molestias -
								<span class="fw-600">2017</span>
							</span>
						</div>
					</div>
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all">
					<div class="feature-box box-shadow-triple-large-hover h-100 border-bottom border-end border-color-transparent-dark-very-light sm-border-bottom p-15 lg-ps-10 lg-pe-10">
						<div class="feature-box-icon mb-20px">
							<img src="https://craftohtml.themezaa.com/images/demo-restaurant-about-award-02.jpg" alt="">
						</div>
						<div class="feature-box-content">
							<span class="d-block text-dark-gray lh-24 w-80 mx-auto">Nemo tempore Molestias -
								<span class="fw-600">2019</span>
							</span>
						</div>
					</div>
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all">
					<div class="feature-box box-shadow-triple-large-hover h-100 border-bottom border-end border-color-transparent-dark-very-light sm-border-bottom p-15 lg-ps-10 lg-pe-10">
						<div class="feature-box-icon mb-20px">
							<img src="https://craftohtml.themezaa.com/images/demo-restaurant-about-award-03.jpg" alt="">
						</div>
						<div class="feature-box-content">
							<span class="d-block text-dark-gray lh-24 w-80 mx-auto">Aliquid nostrum cum -
								<span class="fw-600">2020</span>
							</span>
						</div>
					</div>
				</div>
				<!-- end features box item -->
				<!-- start features box item -->
				<div class="col icon-with-text-style-04 transition-inner-all">
					<div class="feature-box box-shadow-triple-large-hover h-100 border-bottom border-end border-color-transparent-dark-very-light sm-border-bottom p-15 lg-ps-10 lg-pe-10">
						<div class="feature-box-icon mb-20px">
							<img src="https://craftohtml.themezaa.com/images/demo-restaurant-about-award-04.jpg" alt="">
						</div>
						<div class="feature-box-content">
							<span class="d-block text-dark-gray lh-24 w-80 mx-auto">Tenetur commodi. -
								<span class="fw-600">2021</span>
							</span>
						</div>
					</div>
				</div>
				<!-- end features box item -->
			</div>
		</div>
	</section>
	<!-- end section -->

	<!-- start footer -->
	{% include 'partials/_footer.html.twig' %}
	<!-- end footer -->

	<!-- start subscription popup -->
	<div id="subscribe-popup" class="mfp-hide subscribe-popup"> <div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9 col-md-10 bg-white">
					<div class="row position-relative box-shadow-quadruple-large">
						<div class="col-lg-6 background contain-background background-no-repeat background-position-left md-h-600px xs-h-400px" style="background-image:url('{{ customAsset('app/menu-jour.jpg')}}');"></div>

						<div
							class="col-lg-6 newsletter-popup p-8 pt-10 pb-10 lg-p-5 md-p-6 xs-p-8 position-relative">
							{# <span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block" style=""></span></br> #}
							<span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block" style="">Aujourd'hui</br>
							Ouvert de 11h à 15h et de 18h à 23h</span>
						<h2 class="d-inline-block alt-font text-dark-gray mb-20px">La chef propose</h2>
						<div class="d-inline-block w-100 newsletter-style-05 position-relative mb-20px">
							<form
								action="email-templates/subscribe-newsletter.php" method="post">
								{# <input class="input-medium w-100 border-radius-4px form-control required mb-15px" type="email" name="email" placeholder="Recevez notre news letter"/> #}
								<input type="hidden" name="redirect" value="">
								<button type="submit" aria-label="submit" class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow w-100 submit">
									<span>
										<span>
											<i class="feather icon-feather-calendar"></i>
										</span>
										<span class="btn-double-text" data-text="Réserver une table">Réserver une
																																	table</span>
									</span>
								</button>
								<div class="form-results border-radius-4px mt-10px lh-normal pt-10px pb-10px ps-15px pe-15px fs-16 w-100 text-center position-absolute z-index-1 d-none"></div>
							</form>
						</div>
						{# <label for="newsletter-off" class="fs-15"><input class="w-auto me-10px position-relative top-1px p-0" type="checkbox" id="newsletter-off" name="newsletter-off">Don't show this popup again</label> #}
					</div>
					<button title="Close (Esc)" type="button" class="mfp-close text-dark-gray"></button>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- end subscription popup -->

<!-- Menu Modal -->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 	<div class="modal-dialog modal-dialog-centered">
		<div id="modal-content-menu" class="modal-content" style="height:80vh;overflow:hidden;">
			{# <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
			</div> #}
			<div class="modal-body">
				<div id="modal-content-header" class="d-flex align-items-center justify-content-between mb-2">
					<h4 class="d-inline-block alt-font text-white mb-0">Le Plateau propose</h4>
					<button type="button" class="btn btn-transparent-white btn-small btn-round-edge btn-box-shadow" data-bs-dismiss="modal">Fermer</button>
				</div>

				<ul class="image-gallery-style-01 gallery-wrapper grid grid-1 gutter-small">
					<li class="grid-sizer"></li> 
					{% if menu.mainPicture != null %}
						<li class="grid-item transition-inner-all">
							<div class="gallery-box">
								<a href="{{ customAsset('data/uploads/menu/photos/' ~ menu.mainPicture ) }}" data-group="lightbox-gallery" title="">
									<div class="position-relative gallery-image bg-red overflow-hidden">
										<img class="event-photos"  src="{{ customAsset('data/uploads/menu/photos/' ~ menu.mainPicture ) }}" alt="" />
										<div class="d-flex align-items-center justify-content-center position-absolute top-0px left-0px w-100 h-100 gallery-hover move-bottom-top">
											<div class="d-flex align-items-center justify-content-center w-50px h-50px rounded-circle bg-dark-gray">
												<i class="feather icon-feather-search text-white icon-small"></i>
											</div>
										</div>
									</div>
								</a>
							</div>
						</li>
					{% endif %}
				</ul>

			</div>
			{# <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div> #}
		</div>
	</div>
</div>

<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
	<a href="#" class="scroll-top" aria-label="scroll">
		<span class="scroll-text">
			<i class="fa-solid fa-arrow-down-long align-middle icon-large text-base-color"></i>
		</span>
		<span class="scroll-line">
			<span class="scroll-point"></span>
		</span>
	</a>
</div>

{% endblock %}

{% block baseJavascripts %}
	{% block importmap %}
		{{ importmap(['app', 'base', 'home']) }}
	{% endblock %}
{% endblock %}
