<header>
	<!-- start navigation -->
	<nav class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse" data-header-hover="light">
		<div class="container-fluid">
			<div class="col-auto col-lg-2 me-lg-0 me-auto">
				<a onclick="window.location.href=window.location.href" class="navbar-brand" href="{{ path('home') }}">
					<img src="{{ customAsset('app/main_logo.jpg')}}" data-at2x="{{ customAsset('app/main_logo.jpg')}}" alt="" class="default-logo">
					<img src="{{ customAsset('app/main_logo.jpg')}}" data-at2x="{{ customAsset('app/main_logo.jpg')}}" alt="" class="alt-logo">
					<img src="{{ customAsset('app/main_logo.jpg')}}" data-at2x="{{ customAsset('app/main_logo.jpg')}}" alt="" class="mobile-logo">
				</a>
			</div>

			<div class="header-button me-2">
				<a onclick="window.location.href=window.location.href" href="{{ path('home') }}" class="btn border-1 btn-transparent-white-light border-color-transparent-white-light btn-small left-icon btn-switch-text btn-rounded">
					<span>
						<span>
							<i class="feather icon-feather-calendar"></i>
						</span>
						<span class="btn-double-text" data-text="Réserver">Réserver</span>
					</span>
				</a>
			</div>

			<div class="header-button">
				<a onclick="window.location.href=window.location.href" href="{{ path('home') }}" class="btn border-1 btn-transparent-white-light border-color-transparent-white-light btn-small left-icon btn-switch-text btn-rounded">
					<span>
						<span>
							<i class="feather icon-feather-clock"></i>
						</span>
						<span class="btn-double-text" data-text="horaires">Horaires</span>
					</span>
				</a>
			</div>

			<div class="col-auto menu-order position-static">
				<button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav alt-font ls-1px">
						<li class="nav-item">
							<a data-anchor="main-banner-section" href="." class="nav-link header-link">Accueil</a>
						</li>
						<li class="nav-item">
							<a data-anchor="about-section" href="." class="nav-link header-link">A propos</a>
						</li>
						<li class="nav-item">
							<a data-anchor="speciality-section" href="." class="nav-link header-link">Spécialités</a>
						</li>
						<li class="nav-item">
							<a data-anchor="team-section" href="." class="nav-link header-link">L'équipe</a>
						</li>
						<li class="nav-item">
							<a data-anchor="actu-section" href="." class="nav-link header-link">Blog / actus</a>
						</li>
						<li class="nav-item">
							<a data-anchor="event-section" href="." class="nav-link header-link">Evénements</a>
						</li>
						<li class="nav-item">
							<a data-anchor="partenary-section" href="." class="nav-link header-link">Partenaires</a>
						</li>
						<li class="nav-item">
							<a onclick="window.location.href=window.location.href" href="{{ path('home') }}" class="nav-link header-link">Contact</a>
						</li>
					</ul>
				</div>
			</div>
			{# <div class="col-auto col-lg-2 text-end d-none d-sm-flex">
					<div class="header-icon">
						<div class="header-button">
							<a onClick="window.location.href=window.location.href" href="{{ path('home') }}" class="btn border-1 btn-transparent-white-light border-color-transparent-white-light btn-small left-icon btn-switch-text btn-rounded">
								<span>
									<span>
										<i class="feather icon-feather-calendar"></i>
									</span>
									<span class="btn-double-text" data-text="Réserver une table">Réserver une table</span>
								</span>
							</a>
						</div>
					</div>
			</div> #}
		</div>
	</nav>
	<!-- end navigation -->
</header>
