<header>
	<!-- start navigation -->
	<nav style="background-color:#1D2F8F!important;" class="navbar navbar-expand-lg header-transparent header-reverse" data-header-hover="dark">
		<div id="main-container-header" class="container-fluid">
			<div class="col-auto col-lg-2 me-lg-0 me-auto">
					<a class="navbar-brand" href="{{ path('home_index') }}">
					<img src="{{ customAsset('app/main_logo.jpg')}}" data-at2x="{{ customAsset('app/main_logo.jpg')}}" alt="" class="default-logo">
					<img src="{{ customAsset('app/main_logo.jpg')}}" data-at2x="{{ customAsset('app/main_logo.jpg')}}" alt="" class="alt-logo">
					<img src="{{ customAsset('app/main_logo.jpg')}}" data-at2x="{{ customAsset('app/main_logo.jpg')}}" alt="" class="mobile-logo">
				</a>
			</div>

			<div class="header-button">
				<a onclick="window.location.href=window.location.href" href="{{ path('home_index') }}" class="btn border-1 btn-transparent-white-light border-color-transparent-white-light btn-small left-icon btn-switch-text btn-rounded">
					<span>
						<span>
							<i class="feather icon-feather-clock"></i>
						</span>
						<span class="btn-double-text" data-text="horaires">Horaires</span>
					</span>
				</a>
			</div>

			<div class="col-auto menu-order position-static">
				<button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
					<span class="navbar-toggler-line"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav alt-font ls-1px">
						<li class="nav-item">
							<a href="{{ path('admin_index') }}" class="nav-link header-link">Accueil</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link header-link">Catégories</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link header-link">Evénements</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- end navigation -->
</header>
