{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <body data-mobile-nav-style="classic">
        
        {{ parent() }}

        <!-- start header -->
        {% include 'admin/partials/_header_admin.html.twig' %}
        <!-- end header -->

        <section class="main-section right-side-bar">
            
            <div class="container">
                <div class="row justify-content-center">
                    
                    <div class="col-12 col-lg-8 blog-standard md-mb-50px sm-mb-40px">
                        
                        <!-- start blog details  -->
                        <div class="col-12 blog-details mb-12"> 

                            <div class="entry-meta fs-15 mb-50px">
                                <div>
                                    <i class="text-dark-gray feather icon-feather-user"></i>
                                    {{ app.user.email}}
                                </div>
                                <a id="disconnectBtn" href="{{ path('app_logout')}}"><i class="fa-solid fa-power-off icon-medim text-base-color me-1"></i>Déconnexion</a>
                            </div>

                            {# KPIs #}
                            {% include 'admin/partials/_admin_home_kpi.html.twig' %}
                            
                        </div>

                    </div>

                    <!-- start sidebar -->
                    <aside class="col-12 col-xl-4 col-lg-4 col-md-7 ps-55px xl-ps-50px lg-ps-15px sidebar">
                        <div class="mb-15 md-mb-50px xs-mb-35px">
                            <div class="fw-600 fs-19 lh-22 ls-minus-05px text-dark-gray border-bottom border-color-dark-gray border-2 d-block mb-30px pb-15px position-relative">Derniers événements crées</div>
                            <ul class="popular-post-sidebar position-relative">
                                {# {% for event in lastEventCreated %}
                                    <li class="d-flex align-items-center mb-0">
                                        <a class="d-flex align-items-center" href="{{ path('blog_index', { 'id': event.id, 'from': 'admin_index' }) }}">
                                            <figure>
                                                <div class="feature-box-icon" style="background-color:{{ event.activity.color }}">
                                                    {% if event.activity.pictureType == "image" %}
                                                        <img class="my-2" style="width: 35px;" src="{{ customAsset('app/' ~ event.activity.picture )}}" alt="">
                                                    {% else %}
                                                        <i class="{{ event.activity.picture }} align-middle icon-medium text-white my-3"></i>
                                                    {% endif %}
                                                </div>
                                            </figure>
                                            
                                            <div class="col media-body">
                                                <div class="fw-600 fs-17 text-dark-gray d-inline-block mb-10px">{{event.activity.name|capitalize}}</div>
                                                <div class="fs-14">{{event.createdAt|date('d/m/Y')}}</div>
                                                <div class="fs-14">{{event.user.completeNameByFirstName}}</div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %} #}
                            </ul>
                        </div>
                        <div class="mb-15 md-mb-50px xs-mb-35px">
                            <div class="fw-600 fs-19 lh-22 ls-minus-05px text-dark-gray border-bottom border-color-dark-gray border-2 d-block mb-30px pb-15px position-relative">Créer un évènement par activité</div>
                            <ul class="category-list-sidebar position-relative">
                                
                                {# {% for activity in activitiesForThisUser %}
                                    <li class="d-flex align-items-center h-80px ps-35px pe-35px" style="background-color:{{activity.color}}">
                                        <a href="{{ path('admin_event_new', { 'activityId': activity.id, 'from' : 'admin_index' }) }}" class="d-flex align-items-center position-relative w-100 h-100">
                                            <span class="text-white mb-0 fs-20 fw-500 fancy-text-style-4">{{activity.name}}</span>
                                            <span class="btn text-white position-absolute"><i class="bi bi-arrow-right ms-0 fs-24"></i></span>
                                        </a>
                                    </li>
                                {% endfor %} #}

                            </ul>
                        </div>
                    </aside>
                    <!-- end sidebar -->
                </div>
            </div>

        </section>

        {% include 'admin/partials/_footer_minimum.html.twig' %}

    </body>

{% endblock %}

{% block baseJavascripts %}
    {% block importmap %}
        {{ importmap(['app', 'base', 'admin']) }}
    {% endblock %}
{% endblock %}